<?xml version="1.0"?>

<model>
  <name>Ackermann drive car</name>
  <version>1.0</version>
  <sdf version="1.5">ackermann_vehicle.sdf</sdf>

  <author>
    <name>Jakub Junkiert</name>
    <email>jakub.junkiert@student.put.poznan.pl</email>
  </author>

  <description>
    Ackermann drive car
  </description>
</model>